@use './colors.scss';

$mobile-width: 800px;

$tweet-user-size: 24px;
$tweet-timestamp-size: 16px;
$tweet-content-size: 18px;

$post-content-left-padding: 70px;
$treet-user-pfp-width: 60px;

@mixin post-container-css {
	display: flex;
	flex-direction: column;
	border: 1px solid lighten(colors.$content-background-brown, 10);
	border-left: none;
	border-right: none;
	height: fit-content;
	position: relative;
}

@mixin post-content-container-css {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: inherit;
	text-decoration: none;
	padding: 20px;
	padding-bottom: calc(40px + 0px);
}

@mixin post-title-css {
	display: flex;
	align-items: center;
	gap: 10px;

	@media (max-width: $mobile-width) {
		flex-direction: row;
		padding-bottom: 15px;

		p {
			margin-bottom: -6px;
		}
	}

	// treet user PFP
	img {
		width: $treet-user-pfp-width;
		height: $treet-user-pfp-width;
		border-radius: 50px;
		z-index: 2; // to appear above reply link
		margin-bottom: -30px; // line up with right text
	}
	// treet user
	h4 {
		font-size: $tweet-user-size;
		font-weight: 800;
	}
	// treet timestamp
	p {
		font-size: $tweet-timestamp-size;
		padding-top: 5.5px;
		font-weight: 300;
		color: rgb(145, 145, 145);

		@media (max-width: $mobile-width) {
			padding-top: 0px;
		}
	}
}

@mixin post-content-css {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding-left: $post-content-left-padding;

	// post image
	img {
		border-radius: 20px;
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	// post content
	p {
		font-weight: 300;
		font-size: $tweet-content-size;
		line-height: 30px;
	}
}

@mixin post-footer-css {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 0px 20px;
	padding-left: calc($post-content-left-padding + 10px);
	box-sizing: border-box;
	z-index: 1;

	// makes container non-clickable -> makes clicking on post go to the post's page
	pointer-events: none;
	> button {
		// makes container buttons clickable -> clicking on buttons don't go to post's page
		pointer-events: auto;
		padding: 0px;
		position: relative;
	}
	> div {
		padding: 10px;
	}
	p {
		font-size: 16px;
	}

	.footer-button {
		border: none;
		background-color: none;
		background: none;
		display: flex;
		align-items: center;
		gap: 6px;
		text-decoration: none;
		color: inherit;

		img {
			width: 20px;
			height: 20px;
			filter: invert(1);
			&:hover {
				filter: invert(1);
			}
		}
	}

	// aligns footer in the middle
	left: 50%;
	transform: translate(-50%, 0);

	// fade out transition for share button message
	.hidden {
		transition: opacity 2s;
		opacity: 0;
	}
	.link-copied {
		position: absolute;
		left: -10px;
		top: -40px;
		max-width: 60px;
		font-size: 13px !important;
	}
}

@mixin post-form-css {
	padding: 25px;

	form {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		position: relative;

		@media (max-width: $mobile-width) {
			flex-direction: column;
		}
	}

	textarea {
		min-width: calc(100% - 110px);
		min-height: 80px;
		max-height: 80px;
		border-radius: 20px;
		background-color: lighten(colors.$content-background-brown, 10%);
		border: none;
		align-self: center;
		padding: 15px;
		color: white;
		font-size: 16px;
		resize: none;
		box-sizing: border-box;

		@media (max-width: $mobile-width) {
			min-width: 100% !important;
		}

		&::placeholder {
			color: rgb(220, 220, 220);
		}
		&:focus {
			outline: none;
		}
	}

	// add image
	label {
		position: absolute;
		right: 125px;
		bottom: 10px;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		}

		@media (max-width: $mobile-width) {
			right: 15px;
			bottom: calc(10px + 38px + 10px); // size of gap + height of button + extra
		}
	}
	input {
		display: none;
	}

	// submit post
	button {
		min-width: 100px;
		width: fit-content;
		border: none;
		border-radius: 20px;
		padding: 10px;
		background-color: colors.$action-button-green;
		color: white;
		font-weight: 800;
		height: fit-content;

		&:hover {
			background-color: darken(colors.$action-button-green, 10);
		}
	}
}
