@use '../../Variables/colors.scss';

.homepage {
	min-height: 100vh;
	height: fit-content;
	padding: 0px 15px;
	box-sizing: border-box;
	background-color: #14080e;

	display: flex;
	justify-content: center;

	color: white;
	background-color: #779b5f;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%234b643a' fill-opacity='0.42' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

/* /////////////////////////// */

.post-form {
	padding: 15px;

	form {
		display: flex;
		gap: 10px;
	}
	button {
		min-width: 100px;
		border: none;
		border-radius: 20px;
		padding: 10px;
		background-color: colors.$action-button-green;
		color: white;
		font-weight: 800;
		height: fit-content;

		&:hover {
			background-color: darken(colors.$action-button-green, 10);
		}
	}
	textarea {
		min-width: calc(100% - 140px);
		min-height: 80px;
		max-height: 80px;
		border-radius: 20px;
		background-color: lighten(colors.$content-background-brown, 10);
		border: none;
		align-self: center;
		padding: 15px;
		color: white;
		font-size: 16px;

		&::placeholder {
			color: rgb(220, 220, 220);
		}
		&:focus {
			outline: none;
		}
	}
}

/* /////////////////////////// */

.homepage-posts {
	width: 700px;
	box-sizing: border-box;
	border: 1px solid lighten(colors.$content-background-brown, 10);
	background-color: colors.$content-background-brown;
	box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.5);

	h1 {
		padding: 15px;
		padding-bottom: 0;
	}
}

.homepage-post {
	display: flex;
	flex-direction: column;
	border: 1px solid lighten(colors.$content-background-brown, 10);
	border-left: none;
	border-right: none;
	height: fit-content;
	position: relative;

	.homepage-post-content {
		height: 100%;
		color: inherit;
		text-decoration: none;
		padding: 20px;
		padding-bottom: calc(55px + 20px);
	}

	> p {
		overflow: hidden;
		overflow-wrap: break-word;
	}
}

.post-title {
	display: flex;
	gap: 5px;

	h4 {
		font-size: 16px;
	}
	p {
		font-size: 16px;
		font-weight: 600;
		color: rgb(145, 145, 145);
	}
}

.post-footer,
.post-comment-footer {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-around;
	margin-top: auto;
	flex-wrap: wrap;
	position: absolute;
	bottom: 5px;
	width: 100%;

	// makes container non-clickable -> makes clicking on post go to the post's page
	pointer-events: none;
	> button {
		// makes container buttons clickable -> clicking on buttons don't go to post's page
		pointer-events: auto;
		padding: 10px;
		position: relative;
	}
	> div {
		padding: 10px;
	}

	// aligns footer in the middle
	left: 50%;
	transform: translate(-50%, 0);
}

// fade out transition for share button message
.hidden {
	transition: opacity 2s;
	opacity: 0;
}
.link-copied {
	position: absolute;
	left: -15px;
	top: -15px;
	min-width: 75px;
	z-index: 5;
}

/* /////////////////////////// */

@media (max-width: 700px) {
	.homepage {
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	.homepage-posts {
		width: 100%;
		min-height: calc(100vh - 80px);
	}
	.post-title {
		flex-direction: column;
	}
}
